register


<form method="post" action="/register">
    <label>user name</label>
    <input type="text" name="user_name">
    <label>Gmail</label>
    <input type="gmail" name="gmail">
    <label>password</label>
    <input type="password" name="password">
    <input type="submit" value="Register">
</form>